<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Welcome to super Rentals!</h2>
    <p>We hope you find excatly what you are looking to drive!</p>
    <LinkTo @route="about" class="button">About Us</LinkTo>
</div>